[Desktop Entry]
Categories = Development;
Comment = Compare the folders or the files
Comment[ca] = Compara les carpetes o els fitxers
Comment[de] = Die Ordner oder die Dateien vergleichen
Comment[en_GB] = Compare the folders or the files
Comment[es] = Compara las carpetas y los archivos
Comment[fr] = Comparer les dossiers et les fichiers
Comment[it] = Comparare le cartelle o i file
Comment[nl] = De mappen en de bestanden vergelijken
Comment[pt] = Comparar os diretórios ou os ficheiros
Comment[pt_BR] = Comparar as pastas ou os arquivos
Comment[pt_PT] = Comparar os directórios ou os ficheiros
Exec = env WINEPREFIX="$HOME/Applications/Windows" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix $HOME/Applications/Windows/drive_c/Program\\ Files/Beyond\\ Compare\\ 4/BCompare.exe
GenericName = Comparison 2
GenericName[ca] = Comparació
GenericName[de] = Vergleich
GenericName[en_GB] = Comparison 2
GenericName[es] = Comparación
GenericName[fr] = Comparazione
GenericName[nl] = Vergelijking
GenericName[pt] = Comparação
Icon = bcompare
Keywords = analysis; comparison; files; folders; merge
Keywords[ca] = anàlisi; carpetes; comparació; fitxers; fusió;
Keywords[de] = Analyse; Dateien; Merge; Ordner; Vergleich;
Keywords[en_GB] = analysis; comparison; files; folders; merge;
Keywords[fr] = analyse; comparaison; dossiers; fichiers; fusionner;
Keywords[it] = analisi; comparazione; cartelle; file; fondersi;
Keywords[nl] = analyse; bestanden; fuseren; mappen; merge; vergelijking;
Keywords[pt] = análise; comparação; directórios; ficheiros; fundir; misturar
Keywords[pt_BR] = análise; arquivos; comparação; fundir; misturar; pastas;
Keywords[pt_PT] = análise; comparação; directórios; ficheiros; fundir; misturar
Name = BCompare
Name[ca] = BCompare
Name[de] = BCompare
Name[en_GB] = BCompare
Name[es] = BCompare
Name[fr] = BCompare
Name[it] = BCompare
Name[nl] = BCompare
Name[pt] = BCompare
Name[pt_BR] = BCompare
Name[pt_PT] = BCompare
StartupNotify = true
StartupWMClass = bcompare.exe
Terminal = false
Type = Application
Version = 1.0

X-Ayatana-Desktop-Shortcuts = Comparison
X-GNOME-FullName = Comparison of Files and Folders
X-GNOME-FullName[ca] = Comparació de carpetes i fitxers
X-GNOME-FullName[de] = Vergleich von Dateien und Ordnern
X-GNOME-FullName[en_GB] = Comparison of Files and Folders
X-GNOME-FullName[it] = Comparazione di cartelle e file
X-GNOME-FullName[nl] = Vergelijking van bestanden en mappen
X-GNOME-FullName[pt] = Comparação de directórios e ficheiros
X-GNOME-FullName[pt_BR] = Comparação de arquivos e pastas
X-GNOME-FullName[pt_PT] = Comparação de directórios e ficheiros
X-DBUS-ServiceName = BCompare